# Ignorar arquivos PDF
*.pdf

# Ignorar pastas
node_modules/
dist/
build/

# Ignorar arquivos temporários
*.log
*.tmp

# Ignorar arquivos do sistema
.DS_Store
Thumbs.db

# Ignorar IDEs
.vscode/
.idea/